<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.justbytes.itechquiz"
    android:versionCode="6"
    android:versionName="2.2" >

    <uses-sdk android:minSdkVersion="8" />

    <permission
        android:name="com.justbytes.itechquiz.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.justbytes.itechquiz.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchicon"
        android:label="@string/app_name" >
        <activity
            android:name=".ITechQuizActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".QandAActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PostQandAActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LoadJsonFilesActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver
            android:name=".notification.C2DMRegistrationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.justbytes.itechquiz" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.C2DMMessageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.justbytes.itechquiz" />
            </intent-filter>
        </receiver>
    </application>

    <supports-screens android:anyDensity="true" />

</manifest>