<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title> {{title}} </title>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css"/>

<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>

</head>

<body>

<div data-role="page" id="home">
<div data-role="header" data-theme="a">
<h1>Just Bytes</h1>
</div>

<div data-role="content">
<ul data-role="listview" data-theme="a" data-inset="true">
<li><img src="/images/dining1.jpg"/><a href="#dining" data-transition="slidedown"><h2>Bytes to eat</h2></a></li>
<li><img src="/images/bytes.jpg"/><a href="#" data-transition="slidedown"><h2>Bytes to code</h2></a></li>
</ul>
</div>

<div data-role="footer">
{{ year }} &copy; {{ title }}.
</div>
</div>



<div data-role="page" id="dining">
<div data-role="header" data-theme="a" >
<h1>Just Bytes</h1>
</div>

<div data-role="content">
<ul data-role="listview" data-theme="a" data-inset="true">
{% for be in beList %}
<li><img src="/icons?businessName={{ be.name }}"/><a href="#"><h2>{{ be.name }}</h2></a>
<h4>{{ be.address }} <br>{{ be.phoneNumber }}</h4>
</li>
{% endfor %}
</ul>
</div>

<div data-role="footer">
{{ year }} &copy; {{ title }}.
</div>
</div>



<div data-role="page" id="itechquiz">
<div data-role="header" data-theme="a">
<h1>Just Bytes</h1>
</div>

<div data-role="content">
<ul data-role="listview" data-theme="c">
{% for be in beList %}
<li><img src="/icons?businessName={{ be.name }}"/><a href="#"><h2>{{ be.name }}</h2></a>
<h4>{{ be.address }} <br>{{ be.phoneNumber }}</h4>
</li>
{% endfor %}
</ul>
</div>

<div data-role="footer">
{{ year }} &copy; {{ title }}.
</div>
</div>



<div data-role="page" id="itechquiz">
<div data-role="header" data-theme="a">
<h1>Just Bytes</h1>
</div>

<div data-role="content">
<ul data-role="listview" data-theme="c">
{% for be in beList %}
<li><img src="/icons?businessName={{ be.name }}"/><a href="#"><h2>{{ be.name }}</h2></a>
<h4>{{ be.address }} <br>{{ be.phoneNumber }}</h4>
</li>
{% endfor %}
</ul>
</div>

<div data-role="footer">
{{ year }} &copy; {{ title }}.
</div>
</div>


</body>

</html>